<%- include("partials/header") %>
<h1>Image Detail</h1>
<h3><%=foundCampground.name%></h3>
<hr>
<img src="<%=foundCampground.image%>">
<hr>
<p><%=foundCampground.description%></p>
<%- include("partials/footer") %>